.todo {
  display: grid;
  grid-template-columns: 1fr auto;
}

.content {
  padding: .2em;
  user-select: none;
  display: flex;
  flex-direction: column;
}

.content > span:first-child {
  font-size: 1.05rem;
}

.content > span:nth-child(2) {
  font-style: italic;
}

.delete {
  --size: 50px;
  display: grid;
  place-items: center;
  height: var(--size);
  width: var(--size);
}

.delete button {
  font-size: 1.1rem;
  background-color: lightgray;
  height: 100%;
  width: 100%;
}

.delete button:hover {
  background-color: #333;
  color: white;
}

.done {
  text-decoration: line-through;
}