.todo {
  --height: 50px;
  display: flex;
  justify-content: space-between;
}

/*  */
/*  */
/*  */

.counter {
  width: var(--height);
  height: var(--height);
  background-color: rgb(50, 134, 78);
  color: white;
  display: grid;
  place-items: center;
  text-align: center;
  font-weight: bold;
}

/*  */
/*  */
/*  */

.content {
  width: 100%;
  padding: .2em;
  user-select: none;
  display: flex;
  flex-direction: column;
  background: linear-gradient(45deg, rgb(184, 225, 249), rgb(133, 196, 232));
}

.content > span:first-child {
  font-size: 1.05rem;
}

.content > span:nth-child(2) {
  font-style: italic;
}

.done {
  text-decoration: line-through;
}

/*  */
/*  */
/*  */

.delete {
  display: grid;
  place-items: center;
  height: var(--height);
  width: var(--height);
}

.delete button {
  font-size: 1.1rem;
  background-color: lightgray;
  height: 100%;
  width: 100%;
}

.delete button:hover {
  background-color: #333;
  color: white;
}