.todo, .todo * {
  user-select: none;
}

.todo {
  display: grid;
  grid-template-columns: auto 1fr auto;
}

.counter,
.delete {
  height: 100%;
  aspect-ratio: 1;
} 

/*  */
/*  */
/*  */

.counter {
  background-color: rgb(50, 134, 78);
  color: white;
  display: grid;
  place-items: center;
  text-align: center;
  font-weight: bold;
}

/*  */
/*  */
/*  */

.content {
  width: 100%;
  padding: .2em;
  display: flex;
  flex-direction: column;
  background: linear-gradient(45deg, rgb(184, 225, 249), rgb(133, 196, 232));
}

.content h3 {
  font-weight: 400;
  font-size: 1.15rem;
  margin-bottom: .25em;
}

.content p {
  font-style: italic;
}

.done {
  text-decoration: line-through;
}

/*  */
/*  */
/*  */

.delete {
  display: grid;
  place-items: center;
}

.delete button {
  font-size: 1.1rem;
  background-color: lightgray;
  height: 100%;
  width: 100%;
}

.delete button:hover {
  background-color: #333;
  color: white;
}